.grid {
    background-color: darkred;
    height: 500px;
    width: 500px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    background-color: aliceblue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    flex: 0 0 auto;
    flex-shrink: 0;
    width: calc(100% / 16);
    height: calc(100% / 16);  
    box-sizing: border-box;
}